In [ ]:
#  You code here

In [ ]:

import pandas as pd
import numpy as np

In [ ]:
# Uploading the data set
!curl https://data.cityofnewyork.us/resource/rc75-m7u3.csv -o m7u3.csv

In [ ]:
# Converting into data frame and checking the shape of data set
Covid=pd.read_csv("m7u3.csv")
Covid.dropna(inplace=True)
Covid.shape

In [ ]:
# Printing data set head
Covid.head(1)

In [ ]:

Covid.dtypes

Answer: The data set cannot be treated as time series right the way because the data type of data is object. We need to convert date to datetime format.

In [ ]:
# Converting date to datetime fomrat
Covid["date_of_interest"]=pd.to_datetime(Covid["date_of_interest"])

In [ ]:
Covid.dtypes

In [ ]:
# Printing new data frame with datetime format
Covid

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams

In [ ]:
# Changing column name 'case_count' to 'CASE_COUNT'
Covid_case_count=Covid[["date_of_interest", "case_count"]]
Covid_case_count.rename(columns={"case_count": "CASE_COUNT"}, inplace=True)
Covid_case_count

In [ ]:
# Converting CASE_COUNT to numeric type and setting date as index and printing data frame CC
Covid_case_count["CASE_COUNT"]=pd.to_numeric(Covid_case_count["CASE_COUNT"])
Covid_case_count.set_index("date_of_interest", inplace=True)
CC=Covid_case_count["2020-03-01":"2020-05-31"]
CC

In [ ]:
# plotting the data set
CC.plot()
plt.show()

In [ ]:
# Taking rolling avg over 5 days 
CC["rolling_avg_5_days"]= CC.CASE_COUNT.rolling(5).mean()
CC.head(10)

In [ ]:
CC.plot()
rcParams['figure.figsize']=10,4
plt.show()

In [ ]:
#Calculating the rolling avg for desired days.
CM=Covid_case_count
CM["rolling_avg_2_days"]= CM.CASE_COUNT.rolling(2).mean()
CM["rolling_avg_7_days"]= CM.CASE_COUNT.rolling(7).mean()
CM["rolling_avg_20_days"]= CM.CASE_COUNT.rolling(20).mean()
CM["rolling_avg_50_days"]= CM.CASE_COUNT.rolling(50).mean()
CM["rolling_avg_100_days"]= CM.CASE_COUNT.rolling(100).mean()

In [ ]:
CM

In [ ]:
#Plotting
CM.plot()
rcParams['figure.figsize']=10,4
plt.show()

I

In [ ]:
# Making data frame with date, case_count and 3 selected attributes.
QN=Covid[["date_of_interest", "qn_case_count", "qn_case_count_7day_avg","qn_hospitalized_count","qn_hospitalized_count_7day_avg","qn_death_count","qn_death_count_7day_avg"]]

In [ ]:
# Changing the name of 3 selected attributes in capital letter.
QN.rename(columns={"qn_case_count_7day_avg":"QN_BOROUGH_CASE_COUNT_7DAY_AVG",
                       "qn_hospitalized_count_7day_avg":"QN_BOROUGH_HOSPITALIZED_COUNT_7DAY_AVG", 
                       "qn_death_count_7day_avg":"QN_BOROUGH_DEATH_COUNT_7DAY_AVG"},
              inplace=True)

In [ ]:
# Display the data set for Queens.
QN

In [ ]:
#Making seperate data frame for each attributes for plotting.
QN1=QN[["date_of_interest","qn_case_count","QN_BOROUGH_CASE_COUNT_7DAY_AVG"]]
QN2=QN[["date_of_interest","qn_hospitalized_count","QN_BOROUGH_HOSPITALIZED_COUNT_7DAY_AVG"]]
QN3=QN[["date_of_interest","qn_death_count","QN_BOROUGH_DEATH_COUNT_7DAY_AVG"]]

In [ ]:
# Setting date as index.
QN1.set_index("date_of_interest",inplace=True)
QN2.set_index("date_of_interest",inplace=True)
QN3.set_index("date_of_interest",inplace=True)

In [ ]:
#Plotting all 3 charts.
QN1.plot()
QN2.plot()
QN3.plot()
rcParams['figure.figsize']=10,4
plt.show()

(Answer): The first chart shows the 7 days average of covid cases which tells that covid cases were raising during the week of march and april in 2020 and october 2020 to january 2021.

The second chart shows the seven days hospitalized count which tells that more peole were admitted to hospital in queens during the week of high covid cases in 2020 which are march and april and slowly it started to decrease after april 2020 and remain lower upto the end of 2021.

Where as third chart has similar pattern as second one where high death were in the week of march and april in 2020 and it slowly decreased thereafter.